<phpunit stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false">
    <logging>
        <log type="coverage-text" target="coverage.txt" lowUpperBound="35"
             highLowerBound="70"/>
    </logging>
    <testsuites>
        <testsuite name="visual selenium - unit tests">
            <directory>tests/builder/</directory>
            <directory>tests/factory/</directory>
            <directory>tests/model/</directory>
        </testsuite>
        <testsuite name="visual selenium - integration tests">
            <directory>tests/integration/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>model</directory>
            <directory>factory</directory>
            <directory>builder</directory>
            <file>PHPUnit_Extensions_VisualSelenium2TestCase.php</file>
        </whitelist>
    </filter>
</phpunit>
